.confirm-dialog {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirm-dialog h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.confirm-dialog p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  padding: 10px;
  cursor: pointer;
}
